[user]
	email = sakari@psitriangle.net
	name = Sakari Lehtonen
[credential]
	helper = osxkeychain
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
[mergetool]
	keepBackup = false
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/diffmerge $LOCAL $REMOTE
